:root {
  /* Colors */
  --accent-color: #ff6c00;

  /* Light theme */
  --primary-txt_mod-light: #555555;
  --secondary-txt_mod-light: #303030;
  /* Dark theme */
  --primary-txt_mod-darking: rgb(157, 164, 189, 0.6);
  --primary-txt_mod-dark: #9da4bd;
  --secondary-txt_mod-dark: #ffffff;

  /* Bg colors */
  --primary-bg_mod-light: #f7f7f7;
  --primary-bg_mod-dark: #191c26;

  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

/* base style */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hero {
  background-color: var(--primary-bg_mod-dark);
}

.services {
    background-color: var(--primary-bg_mod-dark);
}

.connects {
    background-color: var(--primary-bg_mod-dark);
}

.upper-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.upper-title-dark {
  color: var(--primary-txt_mod-darking);
}

.upper-title-light {
  color: var(--primary-txt_mod-light);
}

.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.title-dark {
  color: var(--secondary-txt_mod-dark);
}

.title-light {
  color: var(--secondary-txt_mod-light);
}

.sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.sub-title-dark {
  color: var(--primary-txt_mod-light);
}

.button {
  border: 1px solid var(--accent-color);
  
  background-color: transparent;
  
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover, 
.button:focus {
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

.button-dark {
  color: var(--secondary-txt_mod-dark);
}

.button-light {
  color: var(--secondary-txt_mod-light);
}

.button-light:hover, .button-light:focus {
  color: var(--primary-bg_mod-light);
}

.button-dark:hover, .button-dark:focus {
  color: var(--secondary-txt_mod-dark);
}

.social-link {
  color: var(--secondary-txt_mod-light);
  
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.social-link:hover, .social-link:focus {
  color: var(--accent-color);
}
/* header start*/

.header {
  background-color: var(--primary-bg_mod-dark);
}

.header-link, .header-phone {
  color: var(--secondary-txt_mod-dark);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
}

/* header end */

/* hero  start */

.hero-title {
  color: var(--secondary-txt_mod-dark);
  
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}